@model startup.Models.Menu
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
	<div class="pagetitle">
		<h2>Xác nhận thêm menu</h2>
	</div>
	<div class="container shadow p-5">
	<div class="row pb-2">
		<h2>Thêm mới menu</h2>
	</div>
	</div>
</main>