@model startup.Models.Menu
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
	<div class="pagetitle">
		<h2>Xác nhận xoá menu</h2>
	</div>
	<div class="from-row">
		<div class="form-group col-md-6">
			<label asp-for="MenuId">MenuId</label>
			<input type="text" class="form-control mb-3" asp-for="MenuId" disabled />
		</div>
		<div class="form-group col-md-6">
			<label asp-for="MenuName">MenuName</label>
			<input type="text" class="form-control mb-3" asp-for="MenuName" disabled />
		</div>
	</div>
	<!-- Begin Form -->
	<form asp-action="Delete" method="post">
		<input type="hidden" asp-for="MenuId" />
		<a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
			<i class="bi bi-arrow-left-circle"></i> Quay lại
		</a>
		<button type="submit" class="btn btn-lg btn-danger p-2">
			<i class="bi bi-trash-fill"></i> Xoá menu
		</button>
	</form>
	<!-- End Form-->
</main>